@model IEnumerable<SistemaTEA.Models.PreguntaMCHAT>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroPregunta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TextoPregunta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EsActiva)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroPregunta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TextoPregunta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EsActiva)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PreguntaID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PreguntaID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PreguntaID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
